## 1. List

- It is heterogeneous data type storage data structure in python.In that we store any data type.
- It always starts from index position `0`.

In [1]:
lst = list()

In [2]:
type(lst)

list

In [4]:
name = "Roshan"
city_code = 1111
state = "MH"

In [5]:
lst = [name,city_code,state]

In [6]:
lst

['Roshan', 1111, 'MH']

In [16]:
#we can any add any data type inside the list
lst = ['Roshan',675,'Appa',True,22+78j,[98,22,2,'Ro',True],77.20]

In [17]:
lst

['Roshan', 675, 'Appa', True, (22+78j), [98, 22, 2, 'Ro', True], 77.2]

In [18]:
for i in lst:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [19]:
for i in lst:
    if type(i)==list:
        for j in i:
            print(j)

98
22
2
Ro
True

In [20]:
for i in lst:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                print(j)

98
22
2

### Extraction  or Slicing of list

In [21]:
lst[0]

'Roshan'

In [22]:
lst[1]

675

In [23]:
lst[2]

'Appa'

In [24]:
lst[:4]

['Roshan', 675, 'Appa', True]

In [26]:
lst[:7]

['Roshan', 675, 'Appa', True, (22+78j), [98, 22, 2, 'Ro', True], 77.2]

In [30]:
lst[5]

[98, 22, 2, 'Ro', True]

In [31]:
lst[5][0]

98

In [32]:
len(lst)

7

In [33]:
for i in range(len(lst)):
    print(lst[i])

Roshan
675
Appa
True
(22+78j)
[98, 22, 2, 'Ro', True]
77.2

In [34]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
for i in list(range(10)):
    print(i)

0
1
2
3
4
5
6
7
8
9

#### Concatenation with string and list not possible.

In [1]:
'Roshan'+[12,45]

TypeError: can only concatenate str (not "list") to str

In [2]:
a = 'Roshan'

In [3]:
b = ['Roshan',True,20,67,990]

In [7]:
aa = list(a)
aa

['R', 'o', 's', 'h', 'a', 'n']

But,we want the string not its letters.for that we can do like below way.

In [8]:
cc =['Roshan']

In [10]:
final = b+cc
final

['Roshan', True, 20, 67, 990, 'Roshan']

This is how we can add the string inside the avaliable string.

#### Operations with the list.

In [11]:
a = ['Ro',True,12,22.5]

In [12]:
a*2 #two times its repeats.

['Ro', True, 12, 22.5, 'Ro', True, 12, 22.5]

In [13]:
len(a)

4

#### Logical Operation with list.

In [14]:
'Ro'in a

True

In [15]:
11 in a

False

#### Concatenation with list and list is possible.

In [16]:
lst = [12,445,55]
lst2 = ['Ros',99,88]

In [17]:
lst+lst2

[12, 445, 55, 'Ros', 99, 88]

#### Operation with in-build functions

In [24]:
print(max(lst))
print(min(lst))

445
12

In [21]:
l = ['Ro','sh','an']
ll=['rr','tg','z']

In [26]:
print(max(l))
print(max(ll))

sh
z

In [27]:
print(min(l))
print(min(ll))

Ro
rr

### `.append method`

In [29]:
lst.append(123) #it is trying put the value at the end of list.

In [30]:
lst

[12, 445, 55, 123]

### `.insert method`

In [31]:
lst.insert(2,20) #defination wise it always insert the value before the given the index position values inside the list.

In [32]:
lst

[12, 445, 20, 55, 123]

In [33]:
lst.insert(-1,800)

In [35]:
lst #here we had given input index number i.e.-1 means last position of the list and we want to insert the 
#800 to that last position but it is not exatcly getting that position and it is getting insersion 
#before the last index positional element

[12, 445, 20, 55, 800, 123]

### `.count method`

In [36]:
x = ['zz','yy',1245,1245,'zz','yy']

In [37]:
x.count('xx')

0

In [38]:
x.count('yy')

2

### `.extend method`

In [40]:
lst.extend(22)

TypeError: 'int' object is not iterable

In [41]:
lst.extend('Rosh')

In [42]:
lst

[12, 445, 20, 55, 800, 123, 'R', 'o', 's', 'h']

From the above we can say that extend is useful whenever we have iterable object like string,list,range etc.otherwise it won't work like we have done at the above line of code with number 22.

In [43]:
lst.extend([22,77])

In [44]:
lst

[12, 445, 20, 55, 800, 123, 'R', 'o', 's', 'h', 22, 77]

Although the extend and append always insert the values at the last position of the list.If your provide the list inside the append it will append exactly that list at the end of list element but in the extend it will insert the values from the list one by one at end position of list.

### `.index method`

It return the index position of closest list element

In [45]:
lst = ['dd','dd',124,234,123,88,12,88]

In [47]:
lst.index(88) #we have 88 two times but index always shows index position closest one 88.

5

### `.pop method`

It always tries to remove the last element from the list parmenantly  and it also store that element as well.

In [48]:
lst

['dd', 'dd', 124, 234, 123, 88, 12, 88]

In [49]:
pop = lst.pop() #storing of that pop element

In [50]:
pop

88

In [52]:
lst #resultant of list without storage of 88 at the last element.

['dd', 'dd', 124, 234, 123, 88, 12]

### `.remove method`

It is the method which is helping us to remove the first occurance of the data inside the list.

In [54]:
lst.remove('dd')

In [55]:
lst #it is removing 'dd' which came first from left to right.

['dd', 124, 234, 123, 88, 12]

### `.reverse method`

In [56]:
lst.reverse()

In [57]:
lst

[12, 88, 123, 234, 124, 'dd']

### `.sort method`

Sort happened when data storage inside the list will be homogenous.

In [60]:
lst.sort()

In [61]:
lst

[12, 88, 123, 124, 234]

In [1]:
lst = ['Ram','Shyam','seeta']

In [2]:
lst.sort()

In [3]:
lst

['Ram', 'Shyam', 'seeta']

In [4]:
x=lst.copy()

In [5]:
id(lst),id(x)

(1906272876096, 1906272885312)

#### Task 1.

In [17]:
lst = []

In [18]:
lst.append(['Roshan','Kishor',123,75.99])
lst.append(['Geeta',22.9,99,True]) #append the two list

In [19]:
lst

[['Roshan', 'Kishor', 123, 75.99], ['Geeta', 22.9, 99, True]]

In [20]:
lst.insert(1,22+22j)  #inbetween the two we have append the complex number

In [21]:
lst

[['Roshan', 'Kishor', 123, 75.99], (22+22j), ['Geeta', 22.9, 99, True]]

In [36]:
index = []  #we have to extract the index position of string in each nested list
for i,j in enumerate(lst):
    if type(j)==list:
        for k in j:
            if type(k)==str:
                index.append(lst[i].index(k))
                
index

[0, 1, 0]

In [38]:
for i,j in enumerate(lst):  #we have remove the string from each nested list
    if type(j)==list:
        for k in j:
            if type(k)==str:
                lst[i].remove(k)
lst

[[123, 75.99], (22+22j), [22.9, 99, True]]

In [54]:
for i in range(len(lst)):
    if type(lst[i])==list:  #extraction of second element of each nested list.
        print(lst[i][1])

75.99
99

# String

In the string data type of python,we can do string concatenation by using the plus operator.

In [2]:
string1 = 'I am Roshan'
string2 = 'I am Roshni'

In [10]:
string1+', '+string2

'I am Roshan, I am Roshni'

String is immutable data type or object.It means it can not be change via assignement operation.

In [11]:
string1[0]

'I'

In [12]:
string1[1]

' '

In [13]:
string1[2]

'a'

If we want to replace the string charecter with other charecters,it will throgh an error because string is not the mutable kind of data type.

In [14]:
string1[0]='We'

TypeError: 'str' object does not support item assignment

Whereas,in the case of list item assignment can be possible.

In [15]:
lst = ['XYZ',90,99.6,True]

In [16]:
lst[0]

'XYZ'

In [17]:
lst[0]='Roshan'

In [18]:
lst

['Roshan', 90, 99.6, True]

- Now, we can see that the item assignment in the list is possible because list is mutable data structure.
- String concatenation can be happen with string to string not with another kind of data type or structure.

Inside the string we have inbuild method that are given below.If we want to get the that inbuild method we have use the `. + tab`.

In [19]:
string1

'I am Roshan'

In [20]:
string1.find('I') # It help us to get the string charecters index position from lower index position.

0

In [21]:
string1.find('Roshan')

5

### `.find() method.`

#### Task 1.

In [22]:
string = 'My name is Roshan'

We want to get the index position of `name` string.

In [46]:
lst =[]
for i,j in enumerate(string):
    if string[i]=='n':
        lst.append(i)
    elif string[i]=='a':
        lst.append(i)
    elif string[i]=='m':
        lst.append(i)
    elif string[i]=='e':
        lst.append(i)

In [47]:
lst

[3, 4, 5, 6, 15, 16]

In [65]:
b = string.find('name')

for i in range(len('name')):
    print(b+i)

3
4
5
6

### `.count() method.`

In [67]:
string.count('a') #it is returing occurance of the substring inside the mainstring.

2

### `.split method.`

In [96]:
string.split() #by defaul it takes seperator for each sub-string comma.

['I', 'am', 'not']

In [74]:
string = 'Roshan is hero,I am not'

In [75]:
string.split(sep=',') #it is going to seperate with the help comma.

['Roshan is hero', 'I am not']

### `.upper method.`

In [76]:
string.upper()

'ROSHAN IS HERO,I AM NOT'

### `.lower method.`

In [77]:
string.lower()

'roshan is hero,i am not'

### `.swapcase method.`

In [78]:
string.swapcase()

'rOSHAN IS HERO,i AM NOT'

### `.join method.`

In [81]:
'*'.join(string) #it is join the each element with the help of star.

'R*o*s*h*a*n* *i*s* *h*e*r*o*,*I* *a*m* *n*o*t'

In [82]:
string[::-1] #it makes reverse of the string.

'ton ma I,oreh si nahsoR'

### `.reversed method.`

In [83]:
list(reversed(string)) #it is also helping us to revered the string.

['t',
 'o',
 'n',
 ' ',
 'm',
 'a',
 ' ',
 'I',
 ',',
 'o',
 'r',
 'e',
 'h',
 ' ',
 's',
 'i',
 ' ',
 'n',
 'a',
 'h',
 's',
 'o',
 'R']

In [86]:
string = '    I am not  ' #here the space is getting involved inside the string.

### `.strip method.`

In [88]:
string.strip() #it is removing space from right hand side and left hand side.

'I am not'

### `.rstrip method.`

In [89]:
string.rstrip()

'    I am not'

### `.lstrip method.`

In [90]:
string.lstrip()

'I am not  '

### `.replace method.`

In [97]:
string.replace('I','We')

'    We am not  '

### `.rjust method.`

In [99]:
print(string.rjust(1),'I am in Nagpur.') # The rjust() method aligns the string to the right.

    I am not   I am in Nagpur.

### `.ljust method.`

In [104]:
print(string.ljust(2),'Rajesh.') # The ljust() method aligns the string to the left.

    I am not   Rajesh.

### `.expandtabs method.`

In [106]:
string = 'Roshan\t living in nagpur.'

In [107]:
string

'Roshan\t living in nagpur.'

It is not understanding the `\t` is tab so we have method for seperating the string with the tab.

In [108]:
string.expandtabs()

'Roshan   living in nagpur.'

#### Task 2.

In [109]:
a = 'We are a part of full stack'

In [110]:
a.lower()

'we are a part of full stack'

In [112]:
a.count('a')

4

In [115]:
lst =[]
for i,j in enumerate(a):
    if j =='a':
        lst.append(i)
lst

[3, 7, 10, 24]

In [124]:
a.replace('a','Ineuron')

'We Ineuronre Ineuron pIneuronrt of full stIneuronck'

In [126]:
a.split()

['We', 'are', 'a', 'part', 'of', 'full', 'stack']

**There are lot of methods avaliable inside the string that is given below.**

In [127]:
a.isupper()

False

In [128]:
a.islower()

False

In [129]:
a.endswith('a')

False

In [130]:
a.isdigit()

False

In [131]:
a.isspace()

False

In [132]:
cc= '125 is my roll number.'

In [134]:
cc.isalpha()

False

In [135]:
cc.isnumeric()

False

### Format Method.

#### Example 1.

In [139]:
name = 'Roshanappaji'
vowels = 'AaEeIiOoUu'

for i in name:
    if i in vowels:
        print('This is the vowels   :-   {}'.format(i))
    else:
        print('This is not the vowels :- {}'.format(i))

This is not the vowels :- R
This is the vowels   :-   o
This is not the vowels :- s
This is not the vowels :- h
This is the vowels   :-   a
This is not the vowels :- n
This is the vowels   :-   a
This is not the vowels :- p
This is not the vowels :- p
This is the vowels   :-   a
This is not the vowels :- j
This is the vowels   :-   i

#### Example 2.

In [141]:
a = input()
b=input()

aa
bb

In [142]:
string = '{} and {} are two different things.'.format(a,b)
string

'aa and bb are two different things.'

#### Example 3 :- Pelindrom

It is nothing but the word should be same from begining and ending while reading.

like **`2002,xyx,eye,nitin`**

In [145]:
user_input = input('Please enter the your word to check pelendrom :- ')
case =user_input[::-1]

if user_input == case:
    print('This is pelindrom.')
else:
    print('This is not pelindrom.')

Please enter the your word to check pelendrom :- eye
This is pelindrom.