Unlike c and c++ python does not have to hold ythe sequence vaues which can list class.A seeen as collection values.

step 1:- we have to create a list of item.

step2 :- you need to insert values seperated comma in sqaure bracket.

In [1]:
list1 = [1,2,3]
list2 = ['A','B','C','D']
list3 = [True,False]
list4 = ['A',2,'B']

In [2]:
type(list1)

list

In [3]:
type(list2)

list

In [4]:
print(list1)

[1, 2, 3]

In [5]:
print(list2)

['A', 'B', 'C', 'D']

In [7]:
print(list3)

[True, False]

In [7]:
print(list4)

['A', 2, 'B']

In [8]:
print(list1+list2+list3+list4)

[1, 2, 3, 'A', 'B', 'C', 'D', True, False, 'A', 2, 'B']

In [9]:
print(list2[2])

C

Always python start indexing start from zero.

In [10]:
print(list4[2])

B

In [11]:
cities = ['Nagpur','Pune','Mumbai']

In [12]:
print(cities)

['Nagpur', 'Pune', 'Mumbai']

In [13]:
len(cities)

3

In [14]:
print(cities[1])

Pune

In [15]:
print(cities[0],"is very hot,",cities[1] ,"is cold")

Nagpur is very hot, Pune is cold

In [16]:
cities.append('Banglore') #single value add at end.

In [17]:
cities.extend(['Delhi','Gurgoan']) #multiple values insertion.

In [18]:
print(cities)

['Nagpur', 'Pune', 'Mumbai', 'Banglore', 'Delhi', 'Gurgoan']

In [19]:
cities.insert(2,'Goa')

In [20]:
cities.append('Himalaya')

In [21]:
print(cities)

['Nagpur', 'Pune', 'Goa', 'Mumbai', 'Banglore', 'Delhi', 'Gurgoan', 'Himalaya']

In [22]:
cities.insert(5,'Lonawada') #n-1

In [23]:
cities.extend(['Jaypur','Rajastan','Rurki'])

In [24]:
print(cities)

['Nagpur', 'Pune', 'Goa', 'Mumbai', 'Banglore', 'Lonawada', 'Delhi', 'Gurgoan', 'Himalaya', 'Jaypur', 'Rajastan', 'Rurki']

In [25]:
cities[0:4]

['Nagpur', 'Pune', 'Goa', 'Mumbai']

In [26]:
print(cities[5:])

['Lonawada', 'Delhi', 'Gurgoan', 'Himalaya', 'Jaypur', 'Rajastan', 'Rurki']

In [27]:
print(cities[1:])

['Pune', 'Goa', 'Mumbai', 'Banglore', 'Lonawada', 'Delhi', 'Gurgoan', 'Himalaya', 'Jaypur', 'Rajastan', 'Rurki']

In [28]:
cities.remove('Rurki') #define can be remove from list using the remove function.

In [29]:
print(cities)

['Nagpur', 'Pune', 'Goa', 'Mumbai', 'Banglore', 'Lonawada', 'Delhi', 'Gurgoan', 'Himalaya', 'Jaypur', 'Rajastan']

In [30]:
list = [1,2,3,4]

In [31]:
list.pop() #to remove the last value of any list.

4

#### Tuple.

It is like a list it can hold the sequence of items the diifrence is that it is inmutable main diffrence in this tuple is immutable.

If is use for directly giving the position.

In [32]:
percentage= (1,2,3)

In [33]:
print(percentage)

(1, 2, 3)

In [34]:
type(percentage)

tuple

In [35]:
roll_number =(101,102,103,104,105,106)

In [36]:
print(roll_number)

(101, 102, 103, 104, 105, 106)

#### Dictonary

It is avalible in the form of the keys and values.Keys is nothing but the start.

In [12]:
dict1={'a':'Apple','b':'Ball'}

In [13]:
type(dict1)

dict

In [14]:
dict2={1:'Bat',2:'Ball',3:'Stump',4:'Helmet'}

In [15]:
dict2

{1: 'Bat', 2: 'Ball', 3: 'Stump', 4: 'Helmet'}

In [16]:
dict3 = {'n':'Nagpur','m':'Mumbai','d':'Delhi'}

In [17]:
dict3['n']

'Nagpur'

In [18]:
dict2[3]

'Stump'

In [19]:
dict3.keys()

dict_keys(['n', 'm', 'd'])

In [20]:
dict3.values()

dict_values(['Nagpur', 'Mumbai', 'Delhi'])

In [21]:
dict3.items()

dict_items([('n', 'Nagpur'), ('m', 'Mumbai'), ('d', 'Delhi')])

#### update()

The update method takes another dictionary as argument then it will update the dictionary to hold the values from the other dictionary.

In [23]:
dict3

{'n': 'Nagpur', 'm': 'Mumbai', 'd': 'Delhi'}

In [28]:
dict4 ={'B':'Banglore','C':'Channai'}

In [30]:
dict3.update(dict4)
dict3

{'n': 'Nagpur', 'm': 'Mumbai', 'd': 'Delhi', 'B': 'Banglore', 'C': 'Channai'}

#### For loop.

for i(new variable) in (to check the details) A(old variable):(to enter in loop).....they having their own task.

In [24]:
cities =['NGP','Pune','MUM','Banglore']

In [25]:
for i in cities:
    print('I love',i)

I love NGP
I love Pune
I love MUM
I love Banglore

In [26]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [27]:
for i in range(1,10):
    print('inverse of ',i,'is',1/i)

inverse of  1 is 1.0
inverse of  2 is 0.5
inverse of  3 is 0.3333333333333333
inverse of  4 is 0.25
inverse of  5 is 0.2
inverse of  6 is 0.16666666666666666
inverse of  7 is 0.14285714285714285
inverse of  8 is 0.125
inverse of  9 is 0.1111111111111111

In [31]:
for i in range(1,11):
    print('inverse of',i,'is',1.0/i)

inverse of 1 is 1.0
inverse of 2 is 0.5
inverse of 3 is 0.3333333333333333
inverse of 4 is 0.25
inverse of 5 is 0.2
inverse of 6 is 0.16666666666666666
inverse of 7 is 0.14285714285714285
inverse of 8 is 0.125
inverse of 9 is 0.1111111111111111
inverse of 10 is 0.1

In [32]:
for i in range(100,111):
    print(i)

100
101
102
103
104
105
106
107
108
109
110

In [35]:
for i in range(100,111):
    print('Inverse of',i,'is',1/i)

Inverse of 100 is 0.01
Inverse of 101 is 0.009900990099009901
Inverse of 102 is 0.00980392156862745
Inverse of 103 is 0.009708737864077669
Inverse of 104 is 0.009615384615384616
Inverse of 105 is 0.009523809523809525
Inverse of 106 is 0.009433962264150943
Inverse of 107 is 0.009345794392523364
Inverse of 108 is 0.009259259259259259
Inverse of 109 is 0.009174311926605505
Inverse of 110 is 0.00909090909090909

#### If else:

In [41]:
a = 33
b = 32

if a >b:
    print('B is greater than A')

B is greater than A

In [43]:
if b>a:
    print('B is graeter than A')
elif a<b:
    print('B is not greater than A')

In [45]:
cities = ['Nagpur','Pune','MUM']

In [47]:
CITY = cities[0]
CITY

'Nagpur'

In [48]:
if CITY == 'Nagpur':
    print('It is hot')

It is hot

In [49]:
if cities=='MUM':
    print('It is cold')

In [51]:
CITY =cities[1]
CITY

'Pune'

In [52]:
if CITY == 'Nagpur':
    print('It is a hot')
else:
    print('Lets party')

Lets party

In [56]:
if cities =='Nagpur':
    print('It is hot')
elif cities =='Pune':
    print('Is is cold')
else:
    print('NO')

NO

In [57]:
for City in cities:         #to get 
    if City =='Nagpur':
        print('It is hot')
    elif City =='Pune':
        print('It s cold')
    else:
        print('It is rainy')

It is hot
It s cold
It is rainy

In [58]:
college = ['YCCE','ROYSONI','VNIT','KDK','PALLOTI']

In [60]:
if college=='ROYSONI':
    print('It is good college')
else:
    print('No data found')

No data found

In [62]:
CLG = 'ROYSONI'

if CLG == 'ROYSONI':
    print('Roysoni is good college')
else:
    print('NO DATA FOUND')

Roysoni is good college

#### Function:

It is block of statement design for specic task.Function may take some input called as argumnet process.
It is given some output called as return value.

In [64]:
def mul(a):
    s = a*a
    return s
mul(5)

25

In [65]:
def add(a,b):
    c = a+b
    return c
add(23,34)

57

In [67]:
def sub(a,b):
    c = a-b
    return c

sub(20,10)

10

In [68]:
def div(s,t):
    c=s/t
    return c

div(50,3)

16.666666666666668

In [ ]:
#### ODD EVEN PROGRAM

In [71]:
def eve(a):
    if a%2==0:
        print('Number is even')
    else:
        print('Number is odd')
        
    return

eve(20)

Number is even

#### LAMBDA.

Python labda expression allows us to define anamyously.It is an expression not a stamenet.It return value.It has an implicit return statement.
following the python syntax of labda expression.

Lambda argumnet,argumnet:expression.

In [72]:
x = lambda a : a+10
print(x(5))

15

In [74]:
x = lambda a,b : a+b
print(x(45,5))

50

In [75]:
print(x(30,20))

50

In [77]:
y = lambda a,b : a*b
print(y(20,23))

460

In [78]:
z = lambda a,b :a/b
print(z(30,3))

10.0

In [79]:
a = 'FIREBLAZZ IS A GOOD SCHOOL'

In [80]:
a.lower()

'fireblazz is a good school'

In [81]:
a.upper()

'FIREBLAZZ IS A GOOD SCHOOL'

In [82]:
a.split()

['FIREBLAZZ', 'IS', 'A', 'GOOD', 'SCHOOL']

In [83]:
c = 'Toady // is // cold'

In [88]:
c.split('//')

['Toady ', ' is ', ' cold']

In [89]:
str(input('string is'))

string isroshan is my name

'roshan is my name'

#### MAP()

Applied a given to all iterable and return new list syntax.

In [90]:
seq = [1,2,3,4]

In [91]:
q = lambda num:num**2

In [92]:
map(q,seq)

In [94]:
list(map(lambda a :a*2,seq))

[2, 4, 6, 8]

In [98]:
def length(n):
    return len(n)

length('Roshan')

6

#### Range()

It is an inbuild function it return range object.

range(start,end(n-1),diff(step size))

In [1]:
T = range(10)

In [2]:
T

range(0, 10)

In [3]:
range(10)

range(0, 10)

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(T)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
range(1,10)[3]

4