## Comments

Inside the python we have to write the code in every tab but for explaining that code we have write a line which will not effect on the our code.

### Example.

#### 1.Single line comment.

In [3]:
print('I am Roshan.') #This is the print statement.

I am Roshan.

#### 2.Multi line comment.

In [4]:
'''I am Roshan and 
Living in my good zone.'''

'I am Roshan and \nLiving in my good zone.'

## Variable.

- In any programming laguage we have to store the information inside the computer memory i.e. heap memory.This is can be happen with the help of variable.
- Variable is nothing but the it is local instance or gloable where we can try to store the data.
- Think of a variable as a name attached to a particular object. In Python, variables need not be declared or defined in advance, as is the case in many other programming languages. To create a variable, you just assign it a value and then start using it. Assignment is done with a single equals sign (=).
- In many programming languages, variables are statically typed. That means a variable is initially declared to have a specific data type, and any value assigned to it during its lifetime must always have that type.

- Variables in Python are not subject to this restriction. In Python, a variable may be assigned a value of one type and then later re-assigned a value of a different type:

In [6]:
a = 10 # variable

In [7]:
a,b = 10,20

In [8]:
a,b

(10, 20)

In [11]:
type(a),type(b)

(int, int)

Here datatype is the `integer.`

**Whenever we declare the variable in that case the variable name should not start with integer like below way we can see that**

In [12]:
1D = 'One D'

SyntaxError: invalid syntax (<ipython-input-12-3f63cef7de4d>, line 1)

If we write that variable in below then see it works.

In [13]:
D = "Only D"

In [14]:
print(D)

Only D

## Input Method inside the Python.

In [48]:
a = input()

jjdsjddj

In [49]:
a

'jjdsjddj'

In [50]:
type(a)

str

#### Task 1.

Take integer from user as input in a,b and c

In [52]:
a = int(input())
b = int(input())
c = int(input())

10
20
30

In [54]:
d = a+b/c
d

10.666666666666666

In [55]:
output = d+ 10+10j
output

(20.666666666666664+10j)

In [56]:
concatenation = str(output) + "Roshan"
concatenation

'(20.666666666666664+10j)Roshan'

## Data types In Python.

### 1.Integer Datatype.

It is nothing but the whole number.

In [15]:
a = 10

In [16]:
type(a)

int

In [41]:
z = int('6666')

In [43]:
type(z)

int

### 2.float Datatype.

It will return values in the form of decimal.

In [17]:
a = 10/7

In [18]:
print(a)

1.4285714285714286

In [19]:
type(a)

float

In [44]:
z = float('22.8')

In [45]:
type(z)

float

### 3. String Datatype

It will return the `text` format of the data and allow us to making some operation like string concatenation etc.

In [20]:
a = "Roshan studying python."

In [21]:
type(a)

str

In [22]:
b = "From last 1 year."

In [23]:
concatenation = a + b

In [24]:
concatenation

'Roshan studying python.From last 1 year.'

**String Concatenation can be happen only we have two variable in the form of string.**

In [35]:
1+ concatenation

TypeError: unsupported operand type(s) for +: 'int' and 'str'

It is not able to making concatenation operation with hetrogeous data type.

In [39]:
str(1)+ " " + concatenation

'1 Roshan studying python.From last 1 year.'

In [40]:
"Roshan "*5

'Roshan Roshan Roshan Roshan Roshan '

### 4. Boolean Datatype

It always avalible in the form of decision making situation like Yes or NO,True or False like that.

In [25]:
a = True

In [26]:
b = False

In [27]:
type(a)

bool

In [28]:
type(b)

bool

**Inside the python programming the `True =1` and `False =0`**

In [29]:
True + False +True +True

3

In [30]:
False + False

0

In [46]:
bool(7)

True

In [47]:
bool(0)

False

### 5.Complex Datatype

In this type of datatype,we have two seperate part.
- First is about the Real part
- Second is about the Imaginary part.

In [31]:
x = 10+20j

In [32]:
type(x)

complex

In [33]:
x.imag

20.0

In [34]:
x.real

10.0

## 1. If Else Statement

- The if/else statement executes a block of code if a specified condition is true.
- If the condition is false, another block of code can be executed. 
- The if/else statement is a part of "Conditional" Statements, which are used to perform different actions based on different conditions.

In [61]:
user = int(input('please enter the number :-'))

if user<30:
    print('This is less than 30')

please enter the number :-7
This is less than 30

In [62]:
user = int(input('please enter the number :-'))

if user<30:
    print('This is less than 30')

please enter the number :-66

In the above code we can see that there is no any kind ouput or alert we are getting on the basis of our condition after user value will greater than 30.

For that we have to give then another statement that is `else statement`

In [63]:
user = int(input('please enter the number :-'))

if user<30:
    print('This is less than 30')
else:
    print('Greater than 30.')

please enter the number :-88
Greater than 30.

If we do not want to supply any conditions inside the if statement,in that case we can use `Pass` keyword because it will not return any error.

In [69]:
if user<30:  #If we want to
    pass

### If-Elief and Else Statement.

Let suppose we have multiple condition and basis of that we need to take a decision in that case we have another statement that is **`IF--ELIF--&--ELSE`** statement.

In [77]:
salary = int(input('Please enter your salary :-'))

if salary >40:
    print('You can buy car.')
elif salary >=20 and salary <=30:
    print('You can buy bike.')
else :
    print('You can buy bicycle')
print('Bye !!')

Please enter your salary :-22
You can buy bike.
Bye !!

### Nested If-Elief and Else Statement.

In [85]:
salary = int(input('Please enter your salary :-'))

if salary > 40:
    print('You can buy car.')
    if salary >=45 and salary <=60:
        print('You can buy maruti 800.')
    else:
        print('You can buy audi.')
elif salary >=20 and salary <=30:
    print('You can buy bike.')
else :
    print('You can buy bicycle')
print('Bye !!')

Please enter your salary :-55
You can buy car.
You can buy maruti 800.
Bye !!

## Thank You !!